.rc_popup__block__footer, .rc_popup__learn_more, .rc-option__discount {
 display:none !important;
}
.rc_widget__option__plans__dropdown{
    padding: 1rem;
}
.rc_widget__option__discount{
    max-width: 2ch;
}